.App {
  text-align: center;
}

.App-logo {
  height: 50vmin;
}

.App-header {
  background-color: #43055f;
  min-height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(24px + 2vmin);
  color: rgb(240, 237, 51);
}

.App-link {
  color: #1832c0;
}
